# JetBrains
.idea
*.iml

# binary file
*.dat
*.bin
*.sock
*.socket
*.zip
*.tar.gz
*.tar.xz

# archlinux package
pkg
*.pkg.tar.zst

# C、C++
*.so
*.dll

# Java
*.class
*.jar

# python
__pycache__
*.pyc
