<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.mapper.demo.mappers.Demo01Mapper">
    <!--Filed alias configuration.-->
    <resultMap id="Demo01PO" type="org.example.mybatis.mapper.demo.entities.Demo01PO">
        <result property="id" column="name" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="message" column="message" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--Create a table in the databases.-->
    <insert id="createTable">
        CREATE TABLE IF NOT EXISTS mybatis_mapper_demo
        (
            id      BIGINT UNSIGNED PRIMARY KEY AUTO_INCREMENT,
            message VARCHAR(255) UNIQUE NOT NULL COMMENT '信息'
        ) CHARSET 'utf8mb4'
          AUTO_INCREMENT = 10000;
    </insert>

    <!--clean data table-->
    <delete id="clear">
        TRUNCATE mybatis_mapper_demo
    </delete>

    <!--Insert data in batches and get the ID of the data-->
    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT IGNORE INTO mybatis_mapper_demo (message)
        VALUES
        <foreach collection="dPos" item="item" separator=",">
            (#{item.message})
        </foreach>
    </insert>
</mapper>